*{
	padding:0px;
	margin:0px;
}
body{
	width: 1000px;
	margin:auto;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#top{
	height: 100px;
	background: #00CC66;
	text-align: center;
	line-height: 100px;
}
ul{
	list-style-type: none; 
}

#menu{
margin-top: 8px;
}
#menu li{
	float: left;
	width: 249px;
	border-right: 1px solid #FFF;
	text-align: center;
	line-height: 30px;
	background: #00CC66;

}
#menu a{
	color:#FFF;
	font-weight: bold;
}

#wrapper table{
	border-collapse: collapse;
	margin-top: 20px;
	width: 1000px;
	text-align: center;
}
#wrapper table tr{
	border: 1px solid #0C6;
	line-height: 25px;
}

#wrapper table td{
	border: 1px solid #0C6;
	color: #666
}

#bottom{
	height: 40px;
	background: #00CC66;
	line-height: 40px;
	text-align: center;
	color:#FFF;
	margin-top: 500px;
	
}

